.users-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.user-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.user-ratings {
    padding-left: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.user-info-container {
    display: flex;
    align-items: center;
}

.user-avatar {
width:90px; 
border-radius: 50%; 
height:90px; 
object-fit:cover; 
margin-right:8px; 
display:inline-block; 
vertical-align:middle; 
margin-bottom: 15px; 
margin-left: 5px;
}