<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
    <main class = "container-fluid">

        <h1>SFU School of Computing Science Faculty</h1>
        <h3>Staff Ratings:</h3>

        <div class="users-grid">    
            <div th:each="user : ${users}" class="user-card">

                <div class="user-info-container">
                    <div th:if="${user.imgLink != ''}" class="user-avatar-wrap loading">
                        <div class="user-avatar-loading">Loading image...</div>
                        <img th:src="${user.imgLink}" th:alt="${user.name}" class="user-avatar" onload="this.parentElement.classList.remove('loading'); this.parentElement.classList.add('loaded');" onerror="this.parentElement.classList.remove('loading'); this.parentElement.classList.add('loaded');"/>
                    </div>
                
                    <div class="user-info">
                        <strong th:text="${user.name}">User Name</strong><br/>
                        <span th:switch="${#strings.contains(user.mail, '@')}">
                        <span th:case="true" th:text="${user.mail}">email</span>
                        <span th:case="false">Email Hidden</span>
                        </span> <br>
                        <span th:text="${user.roleType}">role</span>
                    </div>
                </div>

                <div class="rating-container">
                    <div class="user-ratings">
                        <span th:text="'Knowledgeable: ' + ${user.knowledgeableScore}">0</span> <br>
                        <span th:text="'Niceness: ' + ${user.niceness}">0</span><br>
                        <span th:text="'Clarity: ' + ${user.clarity}">0</span><br>
                    </div>

                    <button class="btn btn-primary">Rate</button>
                </div>
                <div class="comments-box" style="height: 100px; overflow-y: auto;">
                    <strong>Student Comments:</strong>
                    <div class="comments" th:each="comment : ${user.comments}">
                        <p th:text="${comment}">No comments yet.</p>
                    </div>
                    
                </div>
            </div>
        </div>

    </main>
</body>

</html>